[submodule "debian/modules/nginx_cookie_flag_module"]
        url = https://github.com/AirisX/nginx_cookie_flag_module.git
[submodule "debian/modules/ngx_brotli"]
        url = https://github.com/google/ngx_brotli.git
[submodule "debian/modules/nginx-http-rdns"]
        path = debian/modules/nginx-http-rdns
        url = https://github.com/flant/nginx-http-rdns.git
[submodule "debian/modules/ngx_sticky"]
        path = debian/modules/ngx_sticky
        url = https://bitbucket.org/nginx-goodies/nginx-sticky-module-ng/src
